{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template paygw_paymob/admin-callback

    TODO describe template admin-callback

    Example context (json):
    {
    }
}}

<div id="paymob-callback">
    <span class="label-callback"><strong>{{# str}} callback, paygw_paymob {{/str}}: </strong></span>
    <span id="cburl" class="form-control paygw-paymob-callback_copy paygw-paymob-callback_url">{{wwwroot}}/payment/gateway/paymob/callback.php</span>
    <span style="cursor:pointer;" id="cpicon" class="fa fa-solid fa-copy btn btn-secondary"></span><br>
</div>
<div><span class="label-callback">{{#str}} callback_help, paygw_paymob {{/str}}</span></div>
